<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}">Welcome</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/menu :: menu-bar}"></div>

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Spring Listenify</h1>
        <p class="lead">Your premium music streaming service</p>

        <h2>Most Popular Song</h2>
        <p th:text="${mostPopularSong}">Fetching the most popular song...</p>
        <br>
        <h2>Top Rated Song</h2>
        <p th:text="${topRatedSong}">Fetching the most popular song...</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>