<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Songs</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/menu :: menu-bar}"></div>

<h1>Search for a Song</h1>
<form action="/getSong" method="get">
    <label for="title">Enter Song Title:</label>
    <input type="text" id="title" name="title" required>
    <button type="submit">Search</button>
</form>
</body>
</html>
