<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/menu :: menu-bar}"></div>
<h1>Search Results</h1>

<div th:if="${song != null}">
    <p>Song Title: <span th:text="${song.songTitle}"></span></p>
    <p>Album ID: <span th:text="${song.albumId}"></span></p>
    <p>Duration: <span th:text="${song.duration}"></span></p>
</div>

<div th:if="${song == null}">
    <p>No song found for the given title.</p>
</div>

<a href="/searchSong">Back to Search</a>
</body>
</html>
